<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Opinsys tukipalvelu</title>
    </head>
    <body>
      <div className="SideInfo">
        <div className="contact box">
          <p>Sähköpostiosoitteesi on jo käytössä toisella käyttäjällä. Ota yhteys <br/> Opinsysin tukipalveluun: <strong>014-4591625</strong></p>
        </div>
    </body>
</html>
