<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/animate.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/styles/index.css" rel="stylesheet">
        <style>
          a:visited {
            color: blue;
          }
          blockquote {
            color: gray;
            font-style: italic;
          }


          table td {
            min-width: 200px;
            text-overflow: none;
          }

          .main {
            max-width: 30em;
            /* border: 1px solid black; */
            margin: 0 auto;
          }
          textarea {
            height: 20em;
          }

          button, input, textarea {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border: 1px solid gray;
          }

          textarea, input[type=text], button {
            padding: 10px;
          }

          table * {
            text-align: left;
            vertical-align: top;
            font-size: 9pt;
          }
          table button {
            display: inline;
            padding: 1px;
            width: auto;
          }

          .extra textarea{
            height: 1em;
          }

          .similar-tickets * {
            font-size: 9pt;
          }

          .metadata {
            margin: 1em;
          }

          .metadata button {
            width: auto;
          }

          .metadata .actions {
            display: inline;
            margin-left: 1em;
          }

          .lightbox-bg, .lightbox {
            position: absolute;
            margin: 0;
            padding: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
          }

          .lightbox-bg {
            background-color: green;
            opacity: 0.3;
          }

          .lightbox {
            background-color: transparent;
            z-index: 1001;
            top: 1em;
          }
          .lightbox > .lightbox-wrap {
            z-index: 1001;
            padding: 1em;
            top: 1em;
            margin: 0 auto;
            width: 40em;
            background-color: white !important;
            width: 40em;
            max-width: 90%;
          }

        </style>
    </head>
    <body>
      <div id="app"></div>
      <div id="lightbox-container"></div>
      <script charset="utf-8">
        window.USER = <%- JSON.stringify(user, null, "    ") %>;
      </script>
      <script src="/bundle.js" charset="utf-8"></script>
    </body>
</html>
