<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Opinsys tukipalvelu</title>
        <link rel="stylesheet" href="/animate.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/styles/index.css" rel="stylesheet">
        <style>
        </style>
    </head>
    <body>
      <script charset="utf-8">
        window.USER = <%- JSON.stringify(user, null, "    ") %>;
      </script>
      <script src="/bundle.js" charset="utf-8"></script>
    </body>
</html>
