.ProfileBadge {

    display: inline-block;

    .wrap {
        display: table;
    }

    .inner-wrap {
        display: table-cell;
        vertical-align: middle;

        text-align: center;
        border-radius: 0.3em;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        background-color: #fff;
    }

}
