.AttachmentsForm {

    .FileItem, .select-button {
        font-size: 12pt;
    }

    .total {
        color: gray;
        margin-top: 5px;
        border-top: 1px solid gray;
        font-size: 80%;
    }

    .too-large {
        text-decoration: line-through;
    }

    .size-error-message {
        color: red;
        font-size: 70%;
    }

}
