.EditableText {
    .content-wrap > * {
        display: inline;
    }
}

.EditableText-input {
    width: auto;
    display: inline;
}

.EditableText-start-button, .EditableText-start-button:hover, .EditableText-start-button:active {
    outline: none;
    border: 0px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.EditableText-start-button {
    color: gray;
    &:hover, &:focus {
        color: black;
    }
}
