.FrontPage {
   .ProfileBadge {
       margin: 3px;
   }
    .unread {
        .unread-comments {
            background-color: $green-active-color;
            display: inline-block;
        }
    }

    .read {
        .unread-comments {
            display:none;
        }
    }

    .read, .unread {
        span {
            margin: 0;
        }
        .unread-comments{
            float: right;
            margin: 0 0 0 0.5rem;
        }
        a{
            display: block;
        }
    }

    .ticket-division {
        border-bottom: 2px solid rgba(90, 90, 90, 0.25);
        padding-bottom: 1rem;
        &:last-of-type {
            border: none;
        }
        .ticket-handlers span {
            margin: 0 0.5rem 0 0;
            &:after{
                content: ', ';
            }
            &:last-of-type:after{
                content: '';
            }
        }
     }


}
