.Modal {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    // height: 70%;
    .modal-dialog {
        height: 95%;
    }
    .modal-content {
        height: 95%;
        position:relative;
    }

    $modal-header-height: 50px;

    .modal-header {
        height: $modal-header-height;
    }

    .modal-scroll {
        position: absolute;
        overflow-y: auto;
        top: $modal-header-height;
        width: 100%;
        bottom: 5px;
    }

    &.no-close .close {
        display: none;
    }

    .modal-title {
        font-size: 11pt;
    }
}

