.NotificationsHub + .dropdown-menu {
    @include only-on(phones-and-larger) {
        width: 370px;
    }
    li, a {
        white-space: normal;
    }

    padding-top: 17px;
}

.NotificationsHub-mark-all-as-read {
    font-size: 8pt;
    position: absolute;
    top: 3px;
    right: 3px;
}
