.NotificationBox {
    $margin: 20px;
    position: fixed;
    top: $margin;
    right: $margin;
    margin-left: $margin;
    z-index: 1;
    .alert {
        opacity: 0.6;
    }
    .alert:hover {
        opacity: 1;
    }
    font-size: 8pt;

    .alert-info {
        background-color: $unread-color;
        border-color: $unread-border-color;
    }

    a, a:hover, a:active {
        color: black;
    }
}
