.SelectUsers {
    max-width: 450px;

    ul {
        list-style-type: none;
    }

    .UserItem input {
        margin-right: 1em;
    }

    .list-group-item.selected {
        border-color: orange;
    }

    .list-group {
        margin-bottom: 0;
    }

    .email-missing .name {
        text-decoration: line-through;
    }

    .badge {
        margin-left: 10px;
    }

    input[type=checkbox] {
        transform: scale(1.5);
        cursor: pointer;
    }

    label {
        cursor: pointer;
    }

    .spinner-wrap {
        text-align: center;
    }
}

.SelectUsers-details-link {
    margin-left: 5px;
}
