.SideInfo {
    text-align: left;
    word-break: break-word;

    .box {
        border: 2px solid $bubble-border-color;
    }

    ul {
        list-style-type: disc;
    }
    ul li {
        margin-left: -20px;
        margin-right: -15px;
    }
    p {
        margin-bottom: 0;
        padding: 5px;
    }
    h2 {
        font-size: 1em;
        background-color: white;
    }
        a:hover {
        background-color: lightgrey;
    }

    @include only-on(tablets-and-smaller) {
        margin-top: 1em;
    }
}
