
.StatusBadge {
    color: white;
    display: inline;
}

.StatusBadge-inner {
    padding: 5px;
    border-radius: 5px;
}

.StatusBadge-closed {
    background-color:  $closed-ticket-color;
}

.StatusBadge-open {
    background-color: $open-ticket-color;
}

.StatusBadge-pending {
    background-color: $pending-ticket-color;
}
