.TicketList {
    padding-left: 0;

    li {
        list-style-type: none;
        padding: 2em;
        border-bottom: 1px solid gray;
        &:last-child {
            border-bottom: 0;
        }
    }


    h2 {
        font-size: 14pt;
        margin: 0;
    }

    .StatusBadge {
        font-size: 8pt;
    }
}

.TicketList-item {
    position: relative;
}

.TicketList-link {
    color: black;
    &:hover {
    color: black;
    }
}

.TicketList-header {
    margin-bottom: 15px;
}

.TicketList-footer {
    margin-top: 15px;
}

.TicketList-ticket-id {
    color: gray;
    min-width: 100px;
}

.TicketList-created-at {
    color: gray;
    font-size: 8pt;
    margin-left: 5px;
}

.TicketList-tags {
    font-size: 8pt;
}

.TicketList-comment {
    font-size: 8pt;
}

.TicketList-comment-content {
    color: gray;
}
.TicketList-comment-time {
    color: gray;
}

.TicketList-handlers {
    position: absolute;
    top: 0;
    right: 2px;
    color: gray;
    font-size: 8pt;
    .ProfileBadge {
        margin: 1px;
    }
}


