.TicketList {
    padding-left: 0;

    li {
        list-style-type: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 14pt;
        margin: 0;
    }

    .StatusBadge {
        font-size: 8pt;
    }
}

.TicketList-item {
    padding: 10px;
    background-color: white;
    border: 2px solid $bubble-border-color;
    border-radius: 5px;
}

.TicketList-link {
    color: black;
    &:hover {
    color: black;
    }
}

.TicketList-header {
    margin-bottom: 5px;
}

.TicketList-footer {
    margin-top: 5px;
}

.TicketList-ticket-id {
    color: gray;
    min-width: 100px;
}

.TicketList-created-at {
    color: gray;
    font-size: 8pt;
    margin-left: 5px;
}

.TicketList-tags {
    font-size: 8pt;
}

.TicketList-comment {
    font-size: 8pt;
}

.TicketList-comment-content {
    color: gray;
}
.TicketList-comment-time {
    color: gray;
}

.TicketList-handlers {
    color: gray;
    font-size: 8pt;
}



