.UserInformation {
   text-align: right;


   .ProfileBadge {
       display: block;
       float: left;
       margin-right: 10px;
   }

   .btn {
       height: 38px;
       padding-left: 15px;
       padding-right: 15px;
   }

    ul {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

