.UserInformation {
   text-align: right;

    ul {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width:680px){
    .UserInformation{
        .btn{
            padding: 1rem;
        }
     }
}
