.UserInformation {
   text-align: right;


   .ProfileBadge {
       display: block;
       float: left;
       margin-right: 10px;
   }

   .btn {
       height: 38px;
   }

    ul {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width:680px){
    .UserInformation{
        .btn {
            padding: 1rem;
        }
     }
}
