.UserInformation {
   text-align: right;
    img {
        height: 40px;
        margin-right: 1em;
        width: 40px;
    }

    ul {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width:680px){
    .UserInformation{
	.btn{
	    padding: 1rem;
	}
     }
}
