.CommentForm {
    textarea {
        border: 0;
        outline: 0;
        padding: 0;
        min-height: 3em;
        box-shadow: none;
    }

    textarea:focus, input:focus{
        outline: 0 !important;
    }

    .btn {
        width: 100%;
        margin: 0;
    }

    .warning {
        color: red;
    }

    .linemode-tooltip {
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 2px;
        cursor: help;
        font-size: 8pt;
    }
    .tooltip .tooltip-inner {
        text-align: left;
    }
}
