.CommentUpdate {

    .commenter-name {
        font-weight: bold;
    }

    .comment {
        margin: 0px;
        // margin-left: 55px;
    }

    .ProfileBadge {
        float: left;
        margin-right: 8px;
    }

    .TimeAgo {
        margin-left: 8px;
    }

    .FileItem {
        color: $comment-secondary;
    }

    .FileItem:hover {
        color: black;
    }

    $triangle-length: 14px;
    $triangle-size: 4px;

    .message {
        background-color: white;
        padding: 10px;
        margin-left: 49px + $triangle-length;
        border-radius: 5px;

        position: relative;
        border: 2px solid $bubble-border-color;
        border-radius: 5px;

        font-size: 10pt;

        p {
            padding: 0px;
            margin: 0px;
        }
    }


    .message:after {
        content: "";
        position: absolute;
        top: 7px;
        left: - $triangle-length;
        border-style: solid;
        border-width: $triangle-size $triangle-length $triangle-size 0;
        border-color: transparent $bubble-border-color;
        display: block;
        width: 0;
        z-index: 1;
    }


    &.selected .message:after {
        border-color: transparent $highlight-color;
    }
    &.selected .message {
        border-color: $highlight-color;
    }

    .attachment-list {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .attachment {
        padding: 0px;
        float: left;
        margin-right: 10px;
    }

    a:hover {
        text-decoration: none;
    }
}

.unread .CommentUpdate .message {
    background-color: $unread-color;
}
