.CommentUpdate {

    .comment {
        margin-left: 10px;
    }


    .FileItem {
        color: $comment-secondary;
    }

    .FileItem:hover {
        color: black;
    }


    .attachment-list {
        list-style-type: none;
        margin: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0px;
    }

    .attachment {
        padding: 0px;
        float: left;
        margin-right: 10px;
    }

    a:hover {
        text-decoration: none;
    }

    &.hidden-comment .bubble {
        background-color: rgb(223, 223, 223);
    }
}

.unread .CommentUpdate .message {
    background-color: $unread-color;
}

.CommentUpdate-email-icon {
    margin-left: 5px;
}


.CommentUpdate-hidden-icon-wrap {
    position: absolute;
    right: 5px;
    top: 0;
    .fa {
        cursor: help;
        font-size: 45pt;
        color: $input-color;
    }
}
