.CommentUpdate {

    .commenter-name {
        font-weight: bold;
    }

    .comment {
        margin: 0px;
        // margin-left: 55px;
    }

    .ProfileBadge {
        float: left;
        margin-right: 8px;
    }

}
