.CommentForm {
    textarea {
        border: 0;
        outline: 0;
        padding: 10px;
        box-shadow: none;
    }

    textarea:focus, input:focus{
        outline: 0 !important;
    }

    .btn {
        width: 100%;
        margin: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .warning {
        color: $input-color;
    }

    .linemode-tooltip {
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 2px;
        cursor: help;
        font-size: 8pt;
    }
    .tooltip .tooltip-inner {
        text-align: left;
    }
}
