.Discuss {

    .Loading {
        position: absolute;
        right: 0px;
    }


    // Force comment color
    .TimeAgo, .TimeAgo:hover {
        color: $comment-secondary;
    }

    $bubble-user-width: 65px;

    .AttachmentsForm {
        margin-left: $bubble-user-width;
    }

    .ticket-update {
        padding-top: 10px;
        padding-bottom: 10px;
        &.deleted {
            text-decoration: line-through;
        }
        &.small {
            color: gray;
            padding-bottom: 0px;
            padding-top: 0px;
            font-size: 80%;
            margin-left: $bubble-user-width;
        }
    }

    .EditableText .Spinner {
        margin-left: 5px;
        margin-right: 5px;
    }



    .Discuss-title {
        font-size: 24px;
    }


    .ticket-actions-row, .title-row, .status-row {
        margin-bottom: 1em;
    }

    .ticket-actions-row .btn {
        margin-right: 10px;
    }


    @include only-on(phones-and-smaller) {
        .ticket-actions-row .btn {
            width: 100%;
            margin: 0.5rem 0 0 0;
        }
        .update-buttons {
            margin-bottom: 10px;
        }
    }

    .StatusBadge-inner {
        font-size: 14pt;
        padding: 10px;
    }
}



.Discuss-title-id {
    color: gray;
}
