.Discuss {

    .linemode-tooltip {
        margin-bottom: 2px;
        cursor: help;
        font-size: 8pt;
        float: right;
    }
    .tooltip .tooltip-inner {
        text-align: left;
    }

    .Loading {
        position: absolute;
        right: 0px;
    }


    .TimeAgo, .TimeAgo:hover {
        font-size: 8pt;
        color: $comment-secondary;
    }

    .ticket-update {
        padding-top: 10px;
        padding-bottom: 10px;
        &.deleted {
            text-decoration: line-through;
        }
        &.small {
            color: gray;
            padding-bottom: 0px;
            padding-top: 0px;
            font-size: 80%;
            margin-left: 65px;
        }
    }

    .EditableText .Spinner {
        margin-left: 5px;
        margin-right: 5px;
    }



    .ticket-status {
        padding: 10px;
        vertical-align: middle;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .ticket-title {
        padding: 10px;
        font-size: 24px;
    }

    .title-row {
        margin-bottom: 10px;
    }


    .ticket-closed {
        background-color:  $closed-ticket-color;
        p {
            margin: 0 0 1em 0 ;
        }
    }
    .ticket-open {
        background-color: $open-ticket-color;
    }

    .ticket-pending {
        background-color: $pending-ticket-color;
    }

    .ticket-header {
        float: left;
    }

    .ticket-actions-row {
        margin-bottom: 10px;
        .btn {
            margin: 0 0.3rem 0 0;
        }
    }

    @include only-on(phones-and-smaller) {
        .ticket-actions-row .btn {
            width: 100%;
            margin: 0.5rem 0 0 0;
        }
        .update-buttons {
            margin-bottom: 10px;
        }
    }
}

