.SpeechBubble {
    $triangle-length: 14px;
    $triangle-size: 4px;

    .ProfileBadge {
        float: left;
        margin-right: 8px;
    }

    .subtitle, .subtitle:hover {
        margin-left: 5px;
        font-size: 8pt;
        color: $comment-secondary;
    }

    .title {
        padding: 10px;
        padding-bottom: 0;
    }

    .bubble {
        background-color: white;
        margin-left: 49px + $triangle-length;
        border-radius: 5px;

        position: relative;
        border: 2px solid $bubble-border-color;
        border-radius: 5px;
        font-size: 10pt;
    }

    .bubble:after {
        content: "";
        position: absolute;
        top: 7px;
        left: - $triangle-length;
        border-style: solid;
        border-width: $triangle-size $triangle-length $triangle-size 0;
        border-color: transparent $bubble-border-color;
        display: block;
        width: 0;
        z-index: 1;
    }


    &.selected .bubble:after {
        border-color: transparent $highlight-color;
    }
    &.selected .bubble {
        border-color: $highlight-color;
    }

    &.hidden-comment .bubble {
        background-color: $hidden-comment-color;
    }

}

.SpeechBubble-name {
    font-weight: bold;
}
