.TicketView {

    .linemode-tooltip {
        margin-bottom: 2px;
        cursor: help;
        font-size: 8pt;
        float: right;
    }
    .tooltip .tooltip-inner {
        text-align: left;
    }

    .Loading {
        text-align: right;
    }


    .TimeAgo, .TimeAgo:hover {
        font-size: 8pt;
        color: $comment-secondary;
    }

    .ticket-update {
        padding-top: 10px;
        padding-bottom: 10px;
        &.small {
            color: gray;
            padding-bottom: 0px;
            padding-top: 0px;
            font-size: 80%;
        }
    }

    .EditableText .Spinner {
        margin-left: 5px;
        margin-right: 5px;
    }

    .update-buttons-wrap{
        margin-top: -27px;
        padding: 0 0 0.5rem;
        .update-buttons {
            text-align: right;
            button {
                font-size: 80%;
                font-weight: 400;
            }
        }
    }


    .upload-progress {
        .progress-bar {
            // progressed color
            background-color: $active-input-color;
        }
        .progress {
            // remaining color
            background-color: tint($active-input-color, 60%);
        }
    }

    @include only-on(tablets-and-smaller) {
        .update-buttons-wrap {
            .update-buttons {
                margin: 0.5rem 0 0;
                text-align: left;
                button {
                    width: 32%;
                    height: 100%;
                    &:first-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }

    @include only-on(phones-and-smaller) {
        .update-buttons-wrap .update-buttons button {
            width: 100%;
            margin: 0.5rem 0 0 0;
        }
    }
}

