.TicketView {

    .linemode-tooltip {
        margin-bottom: 2px;
        cursor: help;
        font-size: 8pt;
        float: right;
    }
    .tooltip .tooltip-inner {
        text-align: left;
    }

    .Loading {
        text-align: right;
    }

    .unread {
        background-color: $unread-color;
    }

    .CommentUpdate.selected {
        background-color: $highlight-color;
    }

    .TimeAgo {
        font-size: 8pt;
        color: gray;
    }

    .ticket-update {
        padding-top: 10px;
        padding-bottom: 10px;
        &.small {
            color: gray;
            padding-bottom: 0px;
            padding-top: 0px;
            font-size: 80%;
        }
    }

    .EditableText .Spinner {
        margin-left: 5px;
        margin-right: 5px;
    }

}

