.TitleUpdate {
    .description {
        font-style: italic;
    }

    .new-title {
        font-weight: bold;
        margin-left: 3px;
    }
}

.string-diff .tooltip-inner {
    max-width: 400px;
}
