
.ToggleStatusButton.closed {
    background-color:  $closed-ticket-color;
}

.ToggleStatusButton.open {
    background-color: $open-ticket-color;
}

.ToggleStatusButton.pending {
    background-color: $pending-ticket-color;
}

