
$input-color: #ED7113;
$active-input-color: #F39C12;
$link-color: #132836;
$link-hover-color: #005FA0;
$green-active-color:#2FB368;
$green-active-hover-color:#17D66A;
$unread-color: #face42;
$unread-border-color: darken($unread-color, 10%);
$highlight-color: orange;
$bubble-border-color: lightgray;
$comment-secondary: gray;
$open-ticket-color: #13B458;
$pending-ticket-color: rgb(236, 205, 49);
$closed-ticket-color: gray;

