@import "./spinner";
@import "./colors";
@import "./node_modules/bourbon/dist/bourbon";

@import "./bootstrap-overrides";
@import "./components/ErrorMessage";
@import "./components/UserInformation";
@import "./components/SelectUsers";
@import "./components/TicketView";
@import "./components/TicketForm";
@import "./components/ProfileBadge";
@import "./components/TicketList";
@import "./components/EditableText";
@import "../components/TicketView/TitleUpdate.scss";
@import "../components/TicketView/CommentUpdate.scss";
@import "../components/StringDiff.scss";


@font-face{
    font-family: 'redacted-regular';
    src: url('/Redacted-Font/fonts/web/redacted-regular.eot');
    src: url('/Redacted-Font/fonts/web/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('/Redacted-Font/fonts/web/redacted-regular.woff') format('woff'),
         url('/Redacted-Font/fonts/web/redacted-regular.ttf') format('truetype'),
         url('/Redacted-Font/fonts/web/redacted-regular.svg#webfont') format('svg');
}

@font-face{
    font-family: 'redacted-script-regular';
    src: url('/Redacted-Font/fonts/web/redacted-script-regular.eot');
    src: url('/Redacted-Font/fonts/web/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         url('/Redacted-Font/fonts/web/redacted-script-regular.woff') format('woff'),
         url('/Redacted-Font/fonts/web/redacted-script-regular.ttf') format('truetype'),
         url('/Redacted-Font/fonts/web/redacted-script-regular.svg#webfont') format('svg');
}

body, html {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #efeee7;
}

h1 {
    font-size: 2.5em;
    color: #616161;
    margin: 10px 0 10px 30px;
}

a {
    color: $link-color;
    &:hover, &:focus{
        color: $link-hover-color;
        text-decoration: underline;
    }
}

blockquote {
    color: gray;
    font-style: italic;
}

table td {
    text-overflow: none;
}

.table{
    tbody{
        tr.unread{
            td{
                background-color: $unread-color;
            }
        }
    }
}
.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
}

.clearfix{
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.site-header{
    display: inline-block;
}
.main {
    background-color: #f0eee1;
    background-clip:padding-box;
    border: 5px solid #ed7113;
    border: 5px solid rgba(237,113,19,0.5);
    border-radius: 3px;
    margin: 1rem 0;
    padding: 2rem;
    position: relative;
    word-wrap: break-word;
    width: 100%;
    z-index: 0;
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);

    &:before{
      border: 1px dashed #ccc;
      bottom: 5px;
      box-shadow: 0 0 0 1px #fff;
      content: '';
      left: 5px;
      position: absolute;
      z-index: -1;
      top: 5px;
      right: 5px;
    }

    ul{
        list-style-type: none;
    }
    ul li {
        padding: 5px 0 15px 0;
    }
    ul li:first-child{
        border-top: 0;
        margin-top: 25px;
    }
    h1 {
        background-color: white;
    }
}

.header {
    margin: 0;
}

.ticketlist{
    ul li{
        margin: -10px 0 -10px 0;
    }
}
.ticket-division{
    .header {
        padding-left: 10px;
        h3 {
            font-size: 150%;
            display:inline-block;
        }
        .numberOfTickets {
            font-weight: 800;
            margin: 0 0 0 0.5rem;
        }
    }
    ul {
        margin-left: -20px;
    }
}


.sidebar {
    border-left: 1px solid lightgrey;
    text-align: left;
    word-break: break-word;
    ul {
        list-style-type: disc;
    }
    ul li {
        margin-left: -20px;
        margin-right: -15px;
    }
    p {
        margin-bottom: 0;
        padding: 5px;
    }
    h2 {
        font-size: 1em;
        background-color: white;
    }
        a:hover {
        background-color: lightgrey;
    }
}

.contact, .checklist {
    background-color: white;
    border-radius: 5px;
    margin: 0 0 0.5rem;
    padding: 0.5rem;
    ul li {
    padding: 5px 0 5px 0;
    }
    strong {
        font-size: 150%;
        display:block;
        margin: .5rem 0 0;
    }
}

.contact {
    p {
        line-height: 1.3;
    }
}

.checklist {
    line-height: 1.2;
    ul {
        margin-top: -15px;
    }
    ul li {
        margin-right: 5px;
    }
    p {
        line-height: 1.2;
    }
}

.topmenu {
    background-color: #e3decd;
    border-radius: 5px;
    margin: 0;
    padding: 1rem;
}


.top-button {
    font-weight: bold;
    &:first-of-type{
        margin: 0;
     }
}

.header{
    h3 {
        font-size: 160%;
    }
}

.ticket-view {
    .ticket-header {
        margin: 0.5rem 0;
        h3 {
            font-size: 160%;
            margin: 0;
        }
    }
    textarea {
        margin: 0.5rem 0;
        min-height: 3em;
    }
}

.ticket-form {
    input[type=text] {
        margin-top: 25px;
    }

    .button, input, textarea {
        max-width: 100%;
        display: block;
        width: 100%;
        margin: 0px;
        margin-bottom: 2px;
    }

    textarea, input[type=text], button {
      padding: 10px;
    }

}

.ticket-update-buttons{
    button {
        margin: 0;
        width: 100%;
    }
}

.update-buttons-wrap{
    margin-top: -27px;
    padding: 0 0 0.5rem;
    .update-buttons{
        text-align: right;
        button{
            font-size: 80%;
            font-weight: 400;
        }
    }
}





.similar-tickets * {
    font-size: 9pt;
}


.selectuser, .adddevice{
    max-width: 500px;
    margin: 0 auto;
    min-height: 400px;
}

.unread {
    .unread-comments {
        background-color: $green-active-color;
        display: inline-block;
    }
}
.read{
    .unread-comments {
        display:none;
    }
}
.read, .unread{
    span {
        margin: 0;
    }
    .unread-comments{
        float: right;
        margin: 0 0 0 0.5rem;
    }
    a{
        display: block;
    }
}

.ticket-division {
    border-bottom: 2px solid rgba(90, 90, 90, 0.25);
    padding-bottom: 1rem;
    &:last-of-type {
        border: none;
    }
    .ticket-handlers span {
        margin: 0 0.5rem 0 0;
        &:after{
            content: ', ';
        }
        &:last-of-type:after{
            content: '';
        }
    }
 }




.badges {
    .closed {
        background-color:  #13B458;
        p {
            margin: 0 0 1em 0 ;
        }
    }
    .open {
        background-color: #FF4700;
    }
}

.badge-text {
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    &:after {
        content: '';
        display: block;
    }
}
.btn{
    i {
        margin: 0 0.3rem 0 0;
    }
}

@media screen and (max-width: 992px) {
    .update-buttons-wrap {
        .update-buttons {
            margin: 0.5rem 0 0;
            text-align: left;
            button {
                &:first-of-type {
                    margin: 0;
                }
            }
        }
    }
    .ticket-division{
    }
    .selectuser {
        min-height: 400px;
    }
    .adddevice{
        min-height: 540px;
    }
    .main-wrap {
        margin: 0 auto;
    }

    .ticket-form, .ticket-view{
        margin: 0;
        padding-bottom: 1rem;
    }

    .sidebar {
        border:none;
        margin: 1rem 0 0;
    }
    .main {
        width: 100%;
    }
}

@media screen and (max-height: 800px) {
    .selectuser{
        min-height: 400px;
    }
    .adddevice{
        min-height: 440px;
    }
}

.top-buttons {
    padding-left: 0px;
    padding-right: 0px;
}


@media screen and (max-width: 680px) {
    .user-info{
        button{
            height: 40px;
        }
    }
    .wrapper {
        padding: 0;
    }
    .topmenu, .main {
        padding: 1rem;
    }
    .top-buttons{
        margin: 0.5rem 0 0;
    }
    .top-button {
        width: 49%;
        height: 100% ;
    }
    .update-buttons-wrap {
         .update-buttons {
            button{
                width: 32%;
                height: 100% ;
            }
        }
    }
}


@media screen and (max-width: 560px) {
    .top-button {
        width: 100%;
    }
    .update-buttons-wrap {
         .update-buttons {
            button {
                width: 100%
            }
        }
    }
}

