/*
===========================
DO NOT ADD ANY STYLES HERE!
===========================

Instead add them to the component specific style files.

If you need to edit any styles currently here rather than editing it move it to
the correct component and edit it there.

If you need to add a style which affects multiple components it might belong
here but components/Main.scss might be better still.

Please read https://github.com/opinsys/puavo-ticket#styles

*/
@import "./colors";
@import "./node_modules/bourbon/dist/bourbon";
@import "./vendor/animate.scss";

@import "./media-queries";
@import "./bootstrap-overrides";
@import "../components/Main.scss";
@import "../components/ErrorMessage.scss";
@import "../components/SideInfo.scss";
@import "../components/UserInformation.scss";
@import "../components/SelectUsers.scss";
@import "../components/AjaxNotification.scss";
@import "../components/TicketForm.scss";
@import "../components/Profile/ProfileBadge.scss";
@import "../components/Profile/ProfileOverlay.scss";
@import "../components/Profile/ProfileDetails.scss";
@import "../components/TicketList.scss";
@import "../components/EditableText.scss";
@import "../components/StatusBadge.scss";
@import "../components/TicketView/TicketView.scss";
@import "../components/TicketView/Discuss.scss";
@import "../components/TicketView/TitleUpdate.scss";
@import "../components/TicketView/CommentUpdate.scss";
@import "../components/TicketView/HandlerEditor.scss";
@import "../components/TicketView/TagEditor.scss";
@import "../components/TicketView/CommentForm.scss";
@import "../components/TicketView/SpeechBubble.scss";
@import "../components/TicketView/ToggleHiddenButton.scss";
@import "../components/TicketView/ToggleStatusButton.scss";
@import "../components/StringDiff.scss";
@import "../components/NotificationsHub.scss";
@import "../components/NotificationBox.scss";
@import "../components/FileItem.scss";
@import "../components/AttachmentsForm.scss";
@import "../components/EditableList.scss";
@import "../components/UploadProgress.scss";
@import "../components/ForcedLinebreaks.scss";
@import "../components/Tabs.scss";
@import "../components/ViewEditor.scss";


@font-face{
    font-family: 'redacted-regular';
    src: url('/Redacted-Font/fonts/web/redacted-regular.eot');
    src: url('/Redacted-Font/fonts/web/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('/Redacted-Font/fonts/web/redacted-regular.woff') format('woff'),
         url('/Redacted-Font/fonts/web/redacted-regular.ttf') format('truetype'),
         url('/Redacted-Font/fonts/web/redacted-regular.svg#webfont') format('svg');
}

@font-face{
    font-family: 'redacted-script-regular';
    src: url('/Redacted-Font/fonts/web/redacted-script-regular.eot');
    src: url('/Redacted-Font/fonts/web/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         url('/Redacted-Font/fonts/web/redacted-script-regular.woff') format('woff'),
         url('/Redacted-Font/fonts/web/redacted-script-regular.ttf') format('truetype'),
         url('/Redacted-Font/fonts/web/redacted-script-regular.svg#webfont') format('svg');
}

body, html {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #efeee7;
}


blockquote {
    color: gray;
    font-style: italic;
}

table td {
    text-overflow: none;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
}

.clearfix{
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.site-header{
    display: inline-block;
}
.main-content {
    background-color: #f0eee1;
    background-clip:padding-box;
    border: 5px solid #ed7113;
    border: 5px solid rgba(237,113,19,0.5);
    border-radius: 3px;
    margin: 1rem 0;
    padding: 2rem;
    position: relative;
    word-wrap: break-word;
    width: 100%;
    z-index: 0;
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);

    &:before{
      border: 1px dashed #ccc;
      bottom: 5px;
      box-shadow: 0 0 0 1px #fff;
      content: '';
      left: 5px;
      position: absolute;
      z-index: -1;
      top: 5px;
      right: 5px;
    }

}

.header {
    margin: 0;
}

.ticket-division{
    .header {
        padding-left: 10px;
        h3 {
            font-size: 150%;
            display:inline-block;
        }
        .numberOfTickets {
            font-weight: 800;
            margin: 0 0 0 0.5rem;
        }
    }
    ul {
        margin-left: -20px;
    }
}

.contact, .checklist {
    background-color: white;
    border-radius: 5px;
    margin: 0 0 0.5rem;
    padding: 0.5rem;
    ul li {
        padding: 5px 0 5px 0;
    }
    strong {
        font-size: 150%;
        display:block;
        margin: .5rem 0 0;
    }
}

.contact {
    p {
        line-height: 1.3;
    }
}

.checklist {
    line-height: 1.2;
    ul {
        margin-top: -15px;
    }
    ul li {
        margin-right: 5px;
    }
    p {
        line-height: 1.2;
    }
}


.header{
    h3 {
        font-size: 160%;
    }
}

.ticket-form {
    input[type=text] {
        margin-top: 25px;
    }

    .button, input, textarea {
        max-width: 100%;
        display: block;
        width: 100%;
        margin: 0px;
        margin-bottom: 2px;
    }

    textarea, input[type=text], button {
      padding: 10px;
    }

}

.similar-tickets * {
    font-size: 9pt;
}


// Change spinner color once the application css is loaded
.initial-spinner {
    .spinner-container > * {
        background-color: $highlight-color !important;
    }
}
