@import "./spinner";
@import "./colors";

@import "./bootstrap-overrides";
@import "./components/ErrorMessage";
@import "./components/UserInformation";
@import "./components/SelectUsers";

body, html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #efeee7;
}

h1 {
    font-size: 2.5em;
    color: #616161;
    margin: 10px 0 10px 30px;
}

a {
    color: black;
}

blockquote {
    color: gray;
    font-style: italic;
}

table td {
    min-width: 200px;
    text-overflow: none;
}

.wrapper {
    margin: 0 auto;
    min-width: 330px;
    position: relative;
    max-width: 1200px; 
}

.clearfix{
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.box-shadow{
    -webkit-box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);
    -moz-box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0,0,0,0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2);

}
.site-header{
    display: inline-block;
}
.main {
    background-color: #f0eee1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(240, 238, 225)), to(rgb(230, 228, 215)));
    background-image: -webkit-linear-gradient(top, rgb(240, 238, 225), rgb(230, 228, 215));
    background-image: -moz-linear-gradient(top, rgb(240, 238, 225), rgb(230, 228, 215));
    background-image: -ms-linear-gradient(top, rgb(240, 238, 225), rgb(230, 228, 215));
    background-image: -o-linear-gradient(top, rgb(240, 238, 225), rgb(230, 228, 215));
    background-image: linear-gradient(top, rgb(240, 238, 225), rgb(230, 228, 215));
    background-clip:padding-box;
    border: 5px solid #ed7113;
    border: 5px solid rgba(237,113,19,0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 1rem 0;
    padding: 2rem;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    z-index: 0;

    &:before{
      border: 1px dashed #ccc;
      bottom: 5px;
      -moz-box-shadow: 0 0 0 1px #fff;
      -webkit-box-shadow: 0 0 0 1px #fff;
      box-shadow: 0 0 0 1px #fff;
      content: '';
      left: 5px;
      position: absolute;
      z-index: -1;
      top: 5px;
      right: 5px;
    }

    ul{
        list-style-type: none;
    }
    ul li {
        padding: 5px 0 15px 0;
    }
    ul li:first-child{
        border-top: 0;
        margin-top: 25px;
    }
    h1 {
        background-color: white;
    }
    a:hover {
        background-color: #FFD37E;
    }
}

.header {
    margin: -10px 0 10px 0;
}

.ticketlist{
    padding: 10px 0 -5px 0;
    margin: -10px 0 -10px 0;
    ul li{
        margin: -10px 0 -10px 0;
    }
}
.ticket-division{
    .header{
        padding-left: 10px;
    	h3{
            font-size: 120%;
    	}
    }
    ul{
        margin-left: -20px;
    }
}


.sidebar {
    border-left: 1px solid lightgrey;
    text-align: left;
    word-break: break-word;
    ul{
	list-style-type: disc;
    }
    ul li {
        margin-left: -20px;
        margin-right: -15px;
    }
    p {
        margin-bottom: 0;
        padding: 5px;
    }
    h2 {
        font-size: 1em;
        background-color: white;
    }
        a:hover {
        background-color: lightgrey;
    }
}

.contact, .checklist{
    background-color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 0.5rem;
    padding: 0.5rem;
    ul li{
    padding: 5px 0 5px 0;
    }
    b{
	display:block;
    }
}

.contact{
    p{
        line-height: 1.3;
    }
}

.checklist{
    line-height: 1.2;
    ul{
        margin-top: -15px;
    }
    ul li {
        margin-right: 5px;
    }
    p{
        line-height: 1.2;
    }
}

.topmenu {
    background-color: #e3decd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    padding: 1rem;
}


.top-button {
    font-weight: bold;
    margin: 0 0 0 0.8rem ;
    &:first-of-type{
        margin: 0;
     }

}

.ticket-view{
    textarea {
        min-height: 3em;
    }
}

.ticket-form{
    textarea {
        height: 20em;
    }
}
.ticket-form, .ticket-view {
    input[type=text] {
        margin-top: 25px;
    }

    .button, input, textarea {
        max-width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin: 0px;
        margin-bottom: 2px;
    }

    textarea, input[type=text], button {
      padding: 10px;
    }

}

.message{
    padding-bottom: 20px;
}

.ticket-update-buttons button {
    width: 100%;
}

.update-buttons-wrap{
    float: right;
    border-bottom: 1px solid lightgrey;
    padding: 0 0 0.5rem;
    width: 100%;
}

.update-buttons{
    float: right;
}
    
.update-buttons-wrap button{
    background-color: transparent;
    color:black;
    font-size: 80%;
    margin: 0 0 0 0.5rem;
}

.tags {
    color: gray;
    font-size: 9pt;
    margin-left: 50px;
    margin-bottom: 1px;
}

#tag1{
    display: none;
}

.similar-tickets * {
    font-size: 9pt;
}


.selectuser, .adddevice{
    max-width: 500px;
    margin: 0 auto;
    min-height: 600px;
}


.unread span {
    font-weight: bold;
}

.read, .unread{
    span {
        margin: 10px 0 10px 0;
        font-size: 16px;
    }
    a{
        color: #495847;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}

.ticket-updates {
    clear: both;

    img {
        height: 40px;
    }

    .image {
        float: left;
    }

    .message {
        margin-left: 50px;
        font-size:12pt;
    }
}

.comments {
    img {
        height: 40px;
    }
}


.ticket-update-item {
    font-size: 10pt;
}

.badges{
    float: left;
    margin-top: 5px;
}

.badge.open {
    margin-left: 10px;
//    padding-top: 17px;
//    line-height: 17px;
    background-color: #ff7100;
}

.badge.closed {
    margin-left: 10px;
//    padding-top: 17px;
    background-color:  rgb(0, 201, 0);
    p{
        margin: 0 0 1em 0 ;
    }
}

@media screen and (max-width: 900px) {
    .ticket-division{
        float: none;
        width: 85%;
        .header{
        border-left: none; }
    }
    .selectuser {
        min-height: 500px;
    }
    .adddevice{
        min-height: 540px;
    }
    .main-wrap {
        margin: 0 auto;
    }

    .ticket-form, .ticket-view{
        margin: 0;
        padding-bottom: 1rem;
    }
    
    .ticket-updates{
    margin-left: 10px;
    }

    .sidebar {
	border:none;
	margin: 1rem 0 0;}
    .main{
        width: 100%;
    }
}

@media screen and (max-height: 800px) {
    .selectuser{
        min-height: 400px;
    }
    .adddevice{
        min-height: 440px;
    }
}


@media screen and (max-width: 680px) {
    .wrapper{
	padding: 0;
    }
    .topmenu, .main{
	margin: 0;
    }
    .top-button {
        padding: 2px;
        margin: 0.8rem 0 0 0;
	padding: 0.5rem;
        width: 100%;
	&:first-of-type{
	    margin: 0.8rem 0 0 0;
	}
    }
}



