{
    "port": 3002,
    "managerOrganisationDomain": "hogwarts.opinsys.net",
    "publicURL": "http://{{ hostname_command["stdout"] }}:{{ puavo_ticket_port }}",
    "puavo": {
        "sharedSecret": "secret",
        "restServerAddress": "http://{{ hostname_command["stdout"] }}:{{ puavo_rest_port }}",
        "username":"uid=admin,o=puavo",
        "password":"password",
        "organisations": {
            "hogwarts.opinsys.net": {
                "username":"uid=admin,o=puavo",
                "password":"password"
            }
        }
    }
}
