Source: puavo-ticket
Section: misc
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 7), nodejs-bundle (>= 0.10.12)
Standards-Version: 3.8.3
Homepage: https://github.com/opinsys/puavo-ticket

Package: puavo-ticket
Architecture: all
Depends: ${misc:Depends}, nodejs-bundle
Description: Ticketing service
 Ticketing service
